.portal-container {

  position: relative;         
  width: 300px;
  height: 10px;
  border-radius: 50% / 50%;
  border: 3px solid rgba(127, 90, 240, 0.6);
  background: transparent;
  filter:
    blur(4px)
    drop-shadow(0 0 20px #7f5af0)
    drop-shadow(0 0 48px #2cb67d);
  opacity: 1;
  z-index: 10;
}
