
  <div class="overlay">
    <div class="modal">
        <p-button
          class="p-close"
          icon="pi pi-times"
          (click)="closeModal()"
          [rounded]="true"
          [text]="true"
          [raised]="true"
          severity="danger"
        />

      <form [formGroup]="resumeform" (ngSubmit)="onSave()">
        <div class="main-upload">
          <div class="about-user">

            <div class="input-wrapper">
              <label>Name </label>
              <input type="text" formControlName="name">
            </div>

            <div class="input-wrapper">
              <label>Surname </label>
              <input type="text" formControlName="surname">
            </div>
          </div>

          <div class="relative w-[150px] h-[150px] cursor-pointer">
            <img [src]="imageSrc" alt="Image" width="150" height="150" (click)="fileInput.click()" />

            <!-- Hidden file input -->
            <input
              #fileInput
              type="file"
              accept="image/*"
              (change)="onFileSelected($event)"
              class="hidden"
            />
          </div>

        </div>

        <div class="input-number">
        <div>
          <label>Age </label>
          <input type="number" formControlName="age">
        </div>

          <div>
            <label>Height </label>
            <input type="number" formControlName="height">
          </div>
        </div>

        <div class="select-bar">
            <label>City</label>
          <p-select [options]="cities" formControlName="location" optionLabel="name" optionValue="code" placeholder="Select a City" [editable]="true" [style]="{ width: '150px' }" />
          <label>Study</label>
          <p-select [options]="studies" formControlName="study" optionLabel="name" optionValue="name" placeholder="Select a Study" [editable]="true" [style]="{ width: '150px' }" />
        </div>

        <div class="input-wrapper phone-input">
          <label>Phone</label>
          <input type="text" formControlName="phone">
        </div>

        <div class="multi-sel">
          <label>Language</label>
          <div>
            <p-multiSelect
              [options]="languages"
              formControlName="languages"
              optionLabel="name"
              optionValue="name"
              placeholder="Select Language"
              display="chip"
              [style]="{ width: '250px' }">
            </p-multiSelect>
          </div>
        </div>

        <div class="multi-sel">
          <label class="skills">Skills</label>
          <p-multiSelect
            [options]="languages"
            formControlName="skills"
            optionLabel="name"
            optionValue="name"
            placeholder="Select Language"
            display="chip"
            [style]="{ width: '250px' }">
          </p-multiSelect>
        </div>

        <app-upload-file></app-upload-file>

        <p-button
          class="submit-btn"
          type="submit"
          icon="pi pi-check"
          label="Save">
        </p-button>
      </form>
    </div>
  </div>
