
  <div class="overlay">
    <div class="modal">
      <button class="close-btn" (click)="closeModal()">X</button>

      <form [formGroup]="resumeform" (ngSubmit)="onSave()">
        <div class="main-upload">
          <div class="about-user">

            <div class="input-wrapper">
              <label>Name </label>
              <input type="text" formControlName="name">
            </div>

            <div class="input-wrapper">
              <label>Surname </label>
              <input type="text" formControlName="surname">
            </div>
          </div>
          <img ngSrc="assets/png/foravatar.jpeg" alt="avatar" width="150" height="150">
        </div>

        <div class="input-number">
        <div>
          <label>Age </label>
          <input type="number" formControlName="age">
        </div>

          <div>
            <label>Height </label>
            <input type="number" formControlName="height">
          </div>
        </div>

        <div class="select-bar">
            <label>City</label>
          <p-select [options]="cities" formControlName="location" optionLabel="name" optionValue="code" placeholder="Select a City" [editable]="true" [style]="{ width: '150px' }" />
          <label>Study</label>
          <p-select [options]="studies" formControlName="study" optionLabel="name" optionValue="name" placeholder="Select a Study" [editable]="true" [style]="{ width: '150px' }" />
        </div>

        <div class="input-wrapper">
          <label>Phone</label>
          <input type="text"  placeholder="phone" formControlName="phone">
        </div>

        <div>
          <label>Language</label>
          <p-multiSelect
            [options]="languages"
            formControlName="languages"
            optionLabel="name"
            optionValue="name"
            placeholder="Select Language"
            display="chip"
            [style]="{ width: '250px' }">
          </p-multiSelect>
        </div>

        <div>
          <label>Skills</label>
          <p-multiSelect
            [options]="languages"
            formControlName="skills"
            optionLabel="name"
            optionValue="name"
            placeholder="Select Language"
            display="chip"
            [style]="{ width: '250px' }">
          </p-multiSelect>
        </div>

        <button type="submit" class="submit-btn">Save</button>
      </form>
    </div>
  </div>
