.app-container{
  display: flex;
  height: 100vh;
}

.nav-panel{
  flex: 0 0 15%;
  height: 100%;
  background: #f7f7f7;
}

.main-tab {
  flex: 1;
  height: 100%;
  background: #fff;
  padding: 24px;
  overflow: auto;

}
