.landing-container {
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

#txt {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}

.hidden-header {
    transform: translateY(-100%);
}

.landing-container h1 {
    margin: 0;
}

.login-btn {
    background-color: white;
    padding: 10px 25px;
    border-radius: 10px;
    border: 1px solid darkblue;
    transition: 0.5s;

}

.login-btn:hover {
    cursor: pointer;
    background-color: azure;
    color: #181516;
    border: 1px solid blue;
}

.card-container {
  padding: 0;
  margin: 0;
}
