:host {
  display: block;
  height: 100%;
}

.btn-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  padding: 32px 16px;
  height: 100%;
  width: 100%;

  border-top-right-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  color: white;

  background: #5d5d7a;
  background: linear-gradient(139deg,rgba(93, 93, 122, 1) 0%, rgba(24, 11, 46, 1) 13%, rgba(77, 77, 105, 1) 44%, rgba(15, 13, 13, 1) 100%);

  font-family: "Lobster Two", sans-serif;
}

.logo {
  font-size: 24px;
}

.btn-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.btn-list button {
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
  color: white;
  background: none;

  font-family: "Lobster Two", sans-serif;
  position: relative;
  transition: background 0.3s ease;
  text-align: left;
}

.btn-list button:hover {
  background: #5e5e63;
  background: linear-gradient(139deg, rgba(94, 94, 99, 0.1) 0%, rgba(72, 68, 92, 0.1) 30%, rgba(11, 11, 31, 0.1) 100%);
}

.btn-list button::after {
  content: '';
  opacity: 0;
  transition: all 0.3s ease;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.btn-list button:hover::after {
  content: '➜';
  opacity: 1;
}
