<div class="auth-modal">
  <h2>Welcome back</h2>
  <form [formGroup]="loginForm" class="login-form">
    <div class="form-field">
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-user"></i>
        </p-inputgroup-addon>
        <p-floatlabel variant="on">
          <input pInputText id="username" formControlName="username"
                 [invalid]="formUtils.isInvalid(loginForm, 'username')"/>
          <label for="username">
            {{ formUtils.isInvalid(loginForm, 'username') ? 'Username required' : 'Username' }}
          </label>
        </p-floatlabel>
      </p-inputgroup>
    </div>

    <div class="form-field">
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-lock"></i>
        </p-inputgroup-addon>
        <p-floatlabel variant="on">
          <input pInputText id="password" type="password"
                 formControlName="password"
                 [invalid]="formUtils.isInvalid(loginForm, 'password')"
          />
          <label for="password">
            {{ formUtils.isInvalid(loginForm, 'password') ? 'Password required' : 'Password' }}</label>
        </p-floatlabel>
      </p-inputgroup>
    </div>

    <div class="form-actions">
      <button
        pButton
        type="button"
        icon="pi pi-google"
        label="Sign in with Google"
        class="p-button-outlined p-button-danger google-btn">
      </button>

      <button pButton label="Login" (click)="submit()"></button>
    </div>
  </form>
</div>
