.auth-modal {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  h2 {
    text-align: center;
    margin: 0 auto;
    max-width: 90%;
  }

  .form-field {
    width: 100%;
  }

  .form-actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

button {
  margin-top: 1rem;
  width: 100%;
}

.login-form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.google-btn {
  width: 100%;
  font-weight: 500;
  background: #fff;
  color: #444;
  border: 1px solid #dadce0;
  &:hover {
    background: #f8f9fa;
  }
  i {
    color: #ea4335;
  }
}
